@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

/* Reset */
body {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

:root {
  --cian: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray);
}
.container .container__features {
  width: 90%;
  max-width: 28.125rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  box-shadow: 0rem .625rem 1.25rem rgba(0, 0, 0, .4);
  box-shadow: 0rem .625rem 1.25rem rgba(0, 0, 0, .2);
}


.container__features .features__com{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: hsl(0, 0%, 100%);
  padding: 1.875rem 1.5625rem 1rem;
  border-top-right-radius: 0.3125rem;
  border-top-left-radius: 0.3125rem;
  animation: fadeTop ease-out 1s;
}
.features__com h1{
  color: var(--cian);
  margin-top: 0rem;
  font-size: clamp(1.375rem, 8vw - 2vw, 1.875rem);
}
.features__com .com--subtitle{
  font-size: 1.0625rem;
  margin-top: 1.875rem;
  color: var(--bright-yellow);
  line-height: 1.5625rem;
}
.features__com .com--text{
  color: var(--grayish-blue);
  line-height: 1.5625rem;
  font-size: .9375rem;
}

.container__features .features__sub{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 1.5rem 1.5625rem;
  background-color: var(--cian);
  animation: fadeLeft ease-out 1s;
}
.features__sub .sub--title{
  margin-top: 0rem;
  font-size: clamp(1.25rem, 8vw - 2vw, 1.375rem);
  color: hsl(0, 0%, 100%);
}
.features__sub span{
  width: 200px;
  color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .625rem;
}
.features__sub span b{
  font-size: 2.1875rem;
  letter-spacing: .0625rem;
  color: hsl(0, 0%, 100%);
}
.features__sub .sub--text{
  color: hsl(0, 0%, 100%);
  margin: .5rem 0rem 2rem;
  font-size: 1.125rem;
}
.features__sub .sub--btn{
  width: 100%;
  padding: 1rem 0rem;
  outline: none;
  border: none;
  border-radius: .5rem;
  background-color: var(--bright-yellow);
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 0rem .625rem .875rem rgba(0, 0, 0, .2);
  cursor: pointer;
}

.container__features .features__qts{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-color: hsl(179, 62%, 48%);
  padding: 1.25rem 1.5625rem;
  border-bottom-left-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  animation: fadeRight ease-out 1s;
}
.features__qts .qts--title{
  margin: 0rem 0rem 1.375rem;
  color: hsl(0, 0%, 100%);
  font-size: clamp(1.25rem, 8vw - 2vw, 1.375rem);
}
.features__qts .qts--list{
  list-style: none;
  padding: 0rem;
  color: var(--light-gray);
}
.features__qts .qts--list .item{
  margin-bottom: .125rem;
}

@media only screen and (max-height: 800px){
  .container{
    padding: 2rem 0rem;
  }
}

@media only screen and (min-width: 768px){
  .container .container__features{
    max-width: 700px;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, auto);
  }
  .container__features .features__com{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 1.875rem 2.5rem;
  }
  .features__com .com--subtitle{
    font-size: 1.125rem;
  }
  .features__com .com--text{
    width: 95%;
    font-size: 1.0625rem;
  }

  .container__features .features__sub{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-bottom-left-radius: .3125rem;
    padding: 1.875rem 2.5rem;
  }
  .container__features .features__qts{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-bottom-left-radius: 0rem;
    padding: 1.875rem 2.5rem;
  }
}

@keyframes fadeRight {
  from{
    opacity: 0;
    transform: translateX(10rem);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeLeft {
  from{
    opacity: 0;
    transform: translateX(-10rem);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeTop {
  from{
    opacity: 0;
    transform: translateY(-10rem);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}